Repository cloudwego/kitex, pull requests merged in 2022-04, with the labels that each got.

#398 fix(utils): fix the bug that `Dump()` func in ring.go can't dump the accurate data in ring shards
  pkg/utils/ring.go
  pkg/utils/ring_single.go
  pkg/utils/ring_test.go
Labels: bug

#392 test(utils): add UT for utils and fix inaccurate err throw in json.go
  go.sum
  pkg/utils/json.go
  pkg/utils/json_test.go
  pkg/utils/ring_test.go
  pkg/utils/rpcstats_test.go
Labels: test

#396 chore: replace cespare/xxhash with xxhash3 from bytedance/gopkg
  go.mod
  go.sum
  pkg/loadbalance/consist.go
  pkg/loadbalance/consist_test.go
Labels: optimization

#399 feat: support fastpb API
  .licenserc.yaml
  pkg/protocol/bprotoc/README.md
  pkg/protocol/bprotoc/binary.go
  pkg/protocol/bprotoc/binary_test.go
  pkg/protocol/bprotoc/interface.go
  pkg/protocol/bprotoc/wire.go
  pkg/protocol/bprotoc/wire_test.go
  pkg/remote/codec/protobuf/grpc.go
  pkg/remote/codec/protobuf/protobuf.go
Labels: enhancement

#393 test: add ut for pkg/remote/bound
  go.mod
  go.sum
  internal/mocks/limiter/concurrency_limiter.go
  internal/mocks/limiter/limit_reporter.go
  internal/mocks/limiter/rate_limiter.go
  internal/mocks/remote/MetaHandler.go
  pkg/remote/bound/limiter_inbound_test.go
  pkg/remote/bound/transmeta_bound_test.go
Labels: test

#366 feat(client): support warming-up for kitex client
  client/client.go
  client/client_test.go
  client/middlewares.go
  client/middlewares_test.go
  client/option.go
  client/option_advanced.go
  internal/client/option.go
  pkg/loadbalance/lbcache/cache.go
  pkg/remote/connpool/dummy.go
  pkg/remote/connpool/long_pool.go
  pkg/remote/option.go
  pkg/warmup/pool_helper.go
  pkg/warmup/pool_helper_test.go
  pkg/warmup/warmup.go
Labels: enhancement

#401 test: add ut for kitex/server package
  client/option_advanced.go
  internal/server/option.go
  pkg/diagnosis/interface.go
  server/genericserver/server_test.go
  server/invoke/message_test.go
  server/invoke_test.go
  server/option.go
  server/option_advanced.go
  server/option_advanced_test.go
  server/option_test.go
  server/server_test.go
Labels: test

#426 fix(client): should not return NoResolver in NewClient
  client/client.go
  client/middlewares_test.go
Labels: bug

#373 test(grpc): add gRPC transport unittests
  go.mod
  go.sum
  pkg/remote/trans/nphttp2/grpc/keepalive_test.go
  pkg/remote/trans/nphttp2/grpc/testutils/channel.go
  pkg/remote/trans/nphttp2/grpc/testutils/leakcheck/leakcheck.go
  pkg/remote/trans/nphttp2/grpc/testutils/leakcheck/leakcheck_test.go
  pkg/remote/trans/nphttp2/grpc/testutils/status_equal.go
  pkg/remote/trans/nphttp2/grpc/testutils/status_equal_test.go
  pkg/remote/trans/nphttp2/grpc/transport_test.go
  pkg/remote/trans/nphttp2/status/status.go
Labels: test

#395 feat(mux): support gracefull shutdown in connection multiplexing
  .github/workflows/pr-check.yml
  .gitignore
  pkg/remote/codec/default_codec.go
  pkg/remote/trans/netpoll/trans_server.go
  pkg/remote/trans/netpollmux/control_frame.go
  pkg/remote/trans/netpollmux/mux_conn.go
  pkg/remote/trans/netpollmux/server_handler.go
  pkg/remote/trans_handler.go
  pkg/remote/trans_pipeline.go
  server/server.go
Labels: enhancement

#403 test: add netpollmux unit test
  pkg/remote/trans/netpollmux/client_handler_test.go
  pkg/remote/trans/netpollmux/mux_conn_test.go
  pkg/remote/trans/netpollmux/mux_transport_test.go
  pkg/remote/trans/netpollmux/server_handler_test.go
Labels: test

#424 test: add unit test for pkg/transmeta
  pkg/transmeta/http2.go
  pkg/transmeta/http2_test.go
  pkg/transmeta/metainfo.go
  pkg/transmeta/metainfo_test.go
  pkg/transmeta/ttheader_test.go
Labels: test

#432 optimize: reduce the grpc uts timecost from 97s to 35s
  pkg/remote/trans/nphttp2/grpc/keepalive_test.go
  pkg/remote/trans/nphttp2/grpc/transport_test.go
Labels: test

#434 optimize: fix the incidental panic in grpc ut
  pkg/remote/trans/nphttp2/grpc/transport_test.go
Labels: test
